<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      User Images
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
      <div class="row text-center text-lg-left p-2 m-0">
          <div *ngFor="let image of setting.thumbImages" class="col-lg-4 col-md-4 col-sm-4 col-4 p-0" id="server-images">
            <div class="d-block mb-1 h-200">
              <button type="button" class="close" aria-label="Close" style="position: absolute; right: 6px" (click)="deleteImage(image)">
                <span aria-hidden="true" style="color: #dc3545">&times;</span>
              </button>
              <img draggable="true" (dragstart)="onDragStart($event, image.url)" class="img-fluid img-thumbnail" width="100%" src="{{image.imageBase64}}" alt="">
            </div>
          </div>
          <!-- <div *ngIf="loading">
            <div class="col-md-12 spinner-container">
              <mat-spinner class="vertical-center" [diameter]="30"></mat-spinner>
            </div>
          </div> -->
      </div>
  </div>
</mat-expansion-panel>