<div class="collage-content">
  <div class="container-fluid">
    <div class="row p-3 m-3">
      <div class="col-12 col-md-2 col-sm-6">
        <button mat-raised-button class="btn btn-sm btn-block btn-primary" (click)="createAutoCollage()">Automated Collage Maker</button>
      </div>
      <div class="col-12 col-md-2 col-sm-6">
        <button mat-raised-button class="btn btn-sm btn-block btn-primary" (click)="createTemplateCollage()">Template Collage Maker</button>
      </div>
      <div class="col-12 col-md-2 col-sm-6">
        <button mat-raised-button class="btn btn-sm btn-block btn-primary" (click)="createWallDisplay()">Create Wall Display</button>
      </div>
    </div>
    <div class="row text-center text-lg-left p-3 m-0">
      <div *ngFor="let image of images" class="col-lg-3 col-md-3 col-sm-12" id="preview-images">
        <img class="img-fluid img-thumbnail preview-image" width="100%" src="{{image.src}}" alt="">
        <div class="preview-middle">
          <div class="example-button-container">
            <button mat-raised-button class="btn btn-sm btn-block btn-warning m-2" (click)="printPhoto(image, 0)">Canvas Print</button>
            <button mat-raised-button class="btn btn-sm btn-block btn-primary m-2" (click)="printPhoto(image, 1)">Poster Print</button>
          </div>
          <div class="example-button-container">
            <button mat-raised-button class="btn btn-sm btn-block btn-primary m-2" (click)="printPhoto(image, 2)">Photo Print</button>
            <button mat-raised-button class="btn btn-sm btn-block btn-danger m-2" (click)="deletePhoto(image)">Delete Photo</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <div class="col-md-12 spinner-container">
        <mat-spinner class="vertical-center" [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</div>

