<div>
  <div style="padding-left: 0px; padding-right: 0px; text-align: justify">        
    <div class="row hidden-xs hidden-sm">
      <div class="col-12 col-sm-12 col-md-6 center-align">
        <div class="banner-callout">
          <h1>World first Automatic Collage maker</h1>
          <p class="banner-text">Create Beautiful Photo Collages with Amazing automatic Collage Maker with Printposters.in only. Just Upload the photos and select size that it your collage is ready. Try different combination using Automatic collage maker</p>
          <a routerLink="/collage/auto">
            <button
              style="box-shadow: 0px 0px 15px black; z-index: 99999"
              mat-raised-button
              class="bg-primary"
            >
              Get Started
            </button>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 center-align">
         <img
            class="img-responsive center-block p-2 w-100"
            title="Online Collage Maker"
            alt="Online Collage Maker"
            src="https://m.printposters.in/canvas-prints/assets/images/Collage6.webp"/>
      </div>
    </div>
  </div>

  <div style="padding-left: 0px; padding-right: 0px; text-align: justify">        
    <div class="row hidden-xs hidden-sm">
      <div class="col-12 col-sm-12 col-md-6 center-align">
         <img
            class="img-responsive center-block p-2 w-100"
            title="Online Collage Maker"
            alt="Online Collage Maker"
            src="https://m.printposters.in/canvas-prints/assets/images/Collage5.webp"/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 center-align">
        <div class="banner">
          <div class="banner-callout">
            <p class="banner-text">Create your own story by creating stunning and meaningful photo collages without hassle. Collage making is now easy with Printposters. Almost unlimited collage making options to choose. </p>
            <a routerLink="/collage/auto">
              <button
                style="box-shadow: 0px 0px 15px black; z-index: 99999"
                mat-raised-button
                class="bg-primary"
              >
                Get Started
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-container homepage-section" id="pricing-grid">
    <!-- Content From Main Site -->
    <div style="width: 90%; margin: auto">
      <div style="padding-left: 0px; padding-right: 0px; text-align: justify">        
        <div class="row hidden-xs hidden-sm">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card hoverable-card mb-2">
              <a href="https://m.printposters.in/canvas-prints">
                <img
                  class="img-responsive center-block p-2 w-100"
                  title="Canvas Prints"
                  alt="Canvas Prints"
                  src="assets/images/Canvas8.webp"
              /></a>

              <div class="card-body">
                <h5 class="text-center">Automatic collage maker</h5>
                <p>Create Beautiful Photo Collages with Amazing automatic Collage Maker with Printposters.in only.</p>
                <p>Just Upload the photos and select size that it your collage is ready. You can print on Canvas or Photo after making collage.</p>
                <div class="text-center hidden-btn">
                  <a
                    href="https://m.printposters.in/online-collage-maker/collage/auto"
                    class="btn btn-primary head-custom animated fadeInUp"
                  >
                    Start Automatic Collage maker
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card hoverable-card mb-2">
              <a
                href="https://printposters.in/canvas-printing/canvas-split-frames"
              >
                <img
                  class="img-responsive center-block p-2 w-100"
                  title="Split Canvas"
                  alt="Split Canvas"
                  src="assets/images/Collage5.webp"
                />
              </a>
              <div class="card-body">
                <h5 class="text-center">Choose Collage Templates</h5>
                <p>Picture says a thousand words, a photo collage tells an entire story. By using our preloaded Templates, you can create a collage by using traditional methods.</p>
                <p>Select from pre-loaded Templates and create a beautiful hassle-free collage. Print them on Canvas or Photo.</p>
                <div class="text-center hidden-btn">
                  <a
                    href="https://m.printposters.in/online-collage-maker/collage/select"
                    class="btn btn-primary head-custom animated fadeInUp"
                  >
                    Start Online Collage maker
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card hoverable-card mb-2">
              <a href="https://printposters.in/natures-wallpapers">
                <img
                  class="img-responsive center-block p-2 w-100"
                  title="Wall Display"
                  alt="Wall Display"
                  src="https://printposters.in/skin/frontend/printshop/default/images/canvas-prints/wall-display.jpg"
                />
              </a>
              <div class="card-body">
                <h5 class="text-center">Multi frame Wall Display</h5>
                <p>Crate Canvas wall display using Templates. Just upload the image and adjust according to Preloaded frame size and done.</p>
                <p>&nbsp;</p>
                <div class="text-center hidden-btn">
                  <a
                    href="https://printposters.in/online-collage-maker/collage-walls"
                    class="btn btn-primary head-custom animated fadeInUp"
                  >
                    Canvas Wall Display
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <!-- Content From Main Site End -->
  </div>
</div>
