<div class="container">
  <div class="actionpanel">
    <div>
      <button mat-button (click)="crop()">
        <mat-icon>crop</mat-icon>
      </button>
      <button mat-button (click)="zoomIn()" color="primary">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-button (click)="zoomOut()" color="primary">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-button (click)="rotateRight()" color="warn">
        <mat-icon>rotate_right</mat-icon>
      </button>
      <button mat-button (click)="rotateLeft()" color="warn">
        <mat-icon>rotate_left</mat-icon>
      </button>
    </div>
  </div>
  <!-- <div class="imgcontainer">
        <image-cropper
        [imageBase64]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [resizeToWidth]="300"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div> -->
  <!-- <div class="imgcontainer"> -->
    <div class="p-4">
      <image-cropper [imageBase64]="imageChangedEvent" [maintainAspectRatio]="maintainAspectRatio" [aspectRatio]="ratioWidth / ratioHeight"
        format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()" [outputType]="'both'">
      </image-cropper>
    </div>
  <!-- </div> -->
  <div *ngIf="!loaded" class="alert alert-primary text-center">Loading Your Image...</div>

  <!-- <img [src]="croppedImage" /> -->
</div>
<div class="footer">
  <button mat-raised-button style="width:50%" color="primary" (click)="save()">Save</button>
  <button mat-raised-button style="width:50%" color="accent" (click)="cancel()">Discard</button>
</div>
