.footer{
display: block;
}
.container{
    height: 90%;
}


.actionpanel{
position: fixed;
top:10px;
height:150px;
}

img{
    width:300px;
    height:200px;
}

.imgcontainer{
    position: fixed;
    top:150px;
}

.source-image{
    max-width: max-content !important;
    max-height: max-content !important;
}

[_nghost-c24] > div[_ngcontent-c24] img.source-image[_ngcontent-c24] {
    max-width: 200% !important;
    max-height: 200% !important;
}


.img.source-image[_ngcontent-c24] {
    max-width: 200% !important;
    max-height: 200% !important;
}