<h1 mat-dialog-title>Edit Image</h1>
<mat-dialog-content>
    <div class="row">
        <image-cropper
            [imageBase64]="data.imageBase64"
            [maintainAspectRatio]="true"
            [aspectRatio]="data.ratio"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
    </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Close</button>
    <button mat-raised-button color="accent" (click)="onApply()">Apply</button>
</div>
