<h1 mat-dialog-title>Edit Image</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p class="m-0">Size:&nbsp;<span id="image-zoom-value">100%</span></p>
            <mat-slider id="image-zoom-slider" min="100" max="500" step="1" value="100"
                (input)="onImageZoomChanged($event)"></mat-slider>
        </div>
        <div class="col-sm-12 col-md-6">
            <p class="m-0">Brightness:&nbsp;<span id="image-brightness-value">1</span></p>
            <mat-slider id="image-size-slider" min="1" max="100" step="1" value="1"
                (input)="onBrightnessChanged($event)">
            </mat-slider>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Close</button>
    <button mat-raised-button color="accent" (click)="onApply()">Apply</button>
</div>
