<h1 mat-dialog-title>Select Image</h1>
<div mat-dialog-content>
    <div class="row text-center text-lg-left p-3 m-0">
      <div *ngFor="let image of data.images" class="col-12 col-lg-3 col-md-3 col-sm-6 preview-image-box" id="preview-images">
        <img class="img-fluid img-thumbnail preview-image" width="100%" src="{{image.imageBase64}}" alt="" loading="lazy">
        <div class="preview-middle">
          <div class="example-button-container">
            <button mat-raised-button class="btn btn-sm btn-block btn-danger m-2" (click)="onSelectImage(image)">Select</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Close</button>
</div>
