#fileuploader {
    display: none;
}
.head-custom {
    background-color: rgb(217, 116, 62) !important;
}
.upload-img {
    align-self: center;
    max-width: 300px;
    max-height: 350px;
    box-shadow: 0px 3px 10px #3335;
    border-radius: 5px;
    height: 200px;
}

.center-canvas {
    border-width: 1px;
    border-color: gray;
    border-style: inset;
    width: 200px;
    height: 200px;
}

.right-canvas {
    border-width: 1px;
    border-color: gray;
    border-style: inset;
    width: 20px;
    height: 200px;
}

.left-canvas {
    border-width: 1px;
    border-color: gray;
    border-style: inset;
    width: 20px;
    height: 200px;
}

.top-canvas {
    display: inline-block;
    border-width: 1px;
    border-color: gray;
    border-style: inset;
    width: 200px;
    height: 20px;
    position: relative;
}

.bottom-canvas {
    display: inline-block;
    border-width: 1px;
    border-color: gray;
    border-style: inset;
    width: 200px;
    height: 20px;
    top: -5px;
    position: relative;
}
.card img {
    height: 300px;
    object-fit: cover;
}
#services-section,
#howto {
    text-align: center;

    ol li {
        line-height: 35px;
        text-align: left !important;
    }
    img {
        object-fit: cover;
    }
    h5 {
        font-size: 15px;
        font-weight: 900;
        margin-top: 10px;
        background-color: rgb(217, 116, 62);
        color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgb(217, 116, 62, 50);
        padding: 10px 0px;
    }
    p {
        padding: 0px 15px;
        font-size: 12px;
        text-align: justify;
    }
}
