<div style="text-align: center">
  <img
    (click)="newUpload = true;fileupload.click()"
    class="mt-2 upload-img"
    [src]="compressImg.src || 'assets/images/placeholder-201.png'"
    alt="Upload Your Image At Printposters.in"
  />
  <input
    (click)="checkLogin()"
    type="file"
    #fileupload
    id="fileuploader"
    accept="image/*"
    (change)="selectImage(fileupload, $event)"
  />
  <br />
  <button
    style="box-shadow: 0px 9px 16px #333"
    [style.margin]="20 + 'px'"
    mat-raised-button
    color="accent"
    (click)="newUpload = true;fileupload.click()"
  >
    Upload Image
  </button>
  <button
    style="box-shadow: 0px 9px 16px #333"
    [style.margin]="20 + 'px'"
    mat-raised-button
    color="accent"
    type="button"
    (click)="openDialog()"
  >
    Edit Image
  </button>
</div>
<div *ngIf="progress > 0">
  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
</div>
