.img-thumbnail{
    border-radius: 10px;
    background-color: transparent;
}

ngx-dropzone-image-preview {
  padding-right: 5px!important;
  padding-bottom: 5px!important;
  height: 60px!important;
  min-height: 60px!important;
  margin: 0!important;
}

.upload-button {
  width: 100px;
  padding: 6px 8px;
  margin-bottom: 12px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}