<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Upload Image
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="image-upload">
      <ngx-dropzone (change)="onSelect($event)" [disabled]="uploadProgress !== -1" accept="image/jpeg,image/jpg,image/png,image/gif" class="mx-1" expandable>
        <ngx-dropzone-label>
            <i class="fa fa-cloud-upload" style="font-size: 50px"></i><br>
            Drag&Drop files here<br>
            <span style="font-size: 12px">or</span><br>
            <button class="btn btn-outline-primary btn-sm">
              Browse Files
            </button>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
          <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
      <div class="row pl-1 m-1 text-center">
        <div class="col-md-12 text-center">
          <button mat-raised-button id="upload-button" [disabled]="uploadProgress !== -1" class="btn btn-sm btn-block btn-primary" (click)="uploadFiles()">{{uploadButtonName}}</button>
        </div>
      </div>
  </div>
</mat-expansion-panel>