html {
  height: 100%;
}

body {
  background: #c6cbda !important;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #344258
}


.view-wrapper {
  padding: 60px 12px;
  transition: all .3s;
  background: #c6cbda;
  /* height: 100vh; */
  height: 100%;
}

.view-wrapper .view-wrap {
  padding: 20px 0
}

.view-wrapper .view-wrap.is-headless {
  padding-top: 10px
}


/*! _cards.scss | Modelaweek */

.card {
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid #ffffff;
  background-color: #ffffff !important;
  border-radius: 6px;
  box-shadow: none
}

.card .card-heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px
}

/* .card .card-heading .dropdown {
  margin-left: auto
} */

/* .card .card-heading .dropdown .button {
  padding: 0;
  background: none;
  border: none
} */

/* .card .card-heading .dropdown .button svg {
  stroke: #888da8
} */

/* .card .card-heading .dropdown.is-light svg {
  stroke: #fff
} */

/* .card .card-heading.is-bordered {
  border-bottom: 1px solid #323232
} */

/* .card .card-heading.is-bordered h4 {
  font-size: .95rem;
  color: #fff;
  font-weight: 500
} */

.card .card-body {
  padding: 10px 16px
}

.card .card-body.no-padding {
  padding: 0
}

/* .card .card-footer {
  margin: 8px 16px 16px 16px;
  border-top: 1px solid #e8e8e8
} */

/* .card.is-weather-card {
  background-color: #0062ff;
  background-color: -webkit-linear-gradient(to right, #c2e9fb, #a1c4fd);
  background-color: linear-gradient(to right, #c2e9fb, #a1c4fd)
} */

/* .card.is-weather-card .card-heading .dropdown.is-spaced>div .button:hover {
  background: #004ac2 !important
} */

/* .card.is-weather-card .card-body {
  padding-top: 0
} */

/* .card.is-weather-card .temperature {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
} */

/* .card.is-weather-card .temperature span {
  position: relative;
  display: block;
  font-size: 2.6rem;
  font-weight: 500;
  color: #fff
} */

/* .card.is-weather-card .temperature span:after {
  content: '';
  position: absolute;
  top: 10px;
  right: -18px;
  height: 14px;
  width: 14px;
  border: 2px solid #fff;
  border-radius: 50%
} */

/* .card.is-weather-card .weather-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
} */

/* .card.is-weather-card .weather-icon div {
  text-align: center
} */

/* .card.is-weather-card .weather-icon h4 {
  font-size: 1.4rem;
  color: #fff
} */

/* .card.is-weather-card .weather-icon svg {
  stroke: #fff;
  height: 2.8rem;
  width: 2.8rem
} */

/* .card.is-weather-card .weather-icon .details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  font-size: .85rem;
  color: #fff
} */

/* .card.is-weather-card .weather-icon .details span {
  display: block;
  margin: 0 10px
} */

/* .card.is-weather-card .previsions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 20px 0
} */

/* .card.is-weather-card .previsions .day {
  text-align: center;
  font-size: .7rem;
  color: #fff
} */

/* .card.is-weather-card .previsions .day * {
  display: block
} */

/* .card.is-weather-card .previsions .day span:first-child {
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: 500
} */

/* .card.is-weather-card .previsions .day svg {
  margin: 3px auto;
  height: 18px;
  width: 18px
} */

/* .card.is-weather-card .current-date-location {
  margin-bottom: 20px
} */

/* .card.is-weather-card .current-date-location span {
  display: block;
  color: #fff
} */

/* .card.is-weather-card .current-date-location .date {
  font-size: 1.1rem;
  font-weight: 500
} */

/* .card.is-weather-card .current-date-location .location {
  font-size: .8rem
} */

/* .card.is-weather-card .current-date-location .location svg {
  height: 16px;
  width: 16px
} */





/*! _buttons.scss | Modelaweek */

button.button {
  line-height: 0
}

.button {
  font-size: .8rem;
  font-weight: 500;
  padding: 18px 22px;
  transition: all .3s
}

.button.is-solid.accent-button {
  background: #2e52d6;
  border-color: #2249d6;
  color: #fff
}

.button.is-solid.accent-button:hover {
  background: #1d3db3;
  border-color: #1d3db3;
  color: #fff
}

.button.is-outline.accent-button {
  background: #fff;
  border-color: #2e52d6;
  color: #2e52d6;
  transition : all ease 0.3s;
}

.button.is-outline.accent-button:hover {
  background: #fff;
  border-color: #2e52d6;
  color: #2e52d6;
  transition : all ease 0.3s;
}

@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}





/*! _special-mixins.scss | Modelaweek */

.modal {
  z-index: 1050
}

.modal .modal-background {
  transition: all .3s
}

.modal.is-xsmall .modal-content {
  width: 480px
}

.modal.is-small .modal-content {
  width: 540px
}

.modal.is-medium .modal-content {
  width: 720px
}

.modal.is-large .modal-content {
  width: 840px
}

.modal.is-xlarge .modal-content {
  width: 1200px
}

.modal.is-xxl .modal-content {
  width: 1340px
}

.modal.is-light-bg .modal-background {
  background: rgba(0, 0, 0, 0.4)
}

.modal .card {
  -webkit-animation: modalScale .3s;
  animation: modalScale .3s
}

.modal .card .card-heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 12px
}

.modal .card .card-heading h3 {
  font-size: .95rem;
  font-weight: 500
}

.modal .card .card-heading .close-wrap {
  height: 30px;
  width: 30px
}

.modal .card .card-heading .close-wrap .close-modal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: background .3s;
  text-align: center;
}

.modal .card .card-heading .close-wrap .close-modal:hover {
  background: #e8e8e8
}

.modal .card .card-heading .close-wrap .close-modal svg {
  height: 18px;
  width: 18px;
  stroke: #757a91
}

.modal .card .card-body {
  padding: 8px 12px
}








.upload-crop-cover-modal .card .card-heading {
  padding: 10px 20px;
}


.upload-crop-cover-modal .card .card-heading h3 {
  font-size: .95rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2e52d6;
}


.upload-crop-cover-modal .card .card-body {
  padding: 0 20px
}


.upload-crop-cover-modal .card .card-body .profile-uploader-box,
.upload-crop-cover-modal .card .card-body .cover-uploader-box {
  display: block;
  width: 100%;
  height: 300px;
  padding: 40px;
  border: 3px dashed #e8e8e8;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}


.upload-crop-cover-modal .card .card-body .profile-uploader-box:hover .inner-content,
.upload-crop-cover-modal .card .card-body .cover-uploader-box:hover .inner-content {
  position: relative
}


.upload-crop-cover-modal .card .card-body .profile-uploader-box:hover .inner-content img,
.upload-crop-cover-modal .card .card-body .cover-uploader-box:hover .inner-content img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}


.upload-crop-cover-modal .card .card-body .profile-uploader-box .inner-content,
.upload-crop-cover-modal .card .card-body .cover-uploader-box .inner-content {
  display: block
}


.upload-crop-cover-modal .card .card-body .profile-uploader-box .inner-content img,
.upload-crop-cover-modal .card .card-body .cover-uploader-box .inner-content img {
  display: block;
  max-height: 110px;
  margin: 0 auto;
  opacity: .5;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all .3s
}




.upload-crop-cover-modal .card .card-body .profile-uploader-box input,
.upload-crop-cover-modal .card .card-body .cover-uploader-box input {
  display: none
}



.upload-crop-cover-modal .card .card-footer {
  border-top: none;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px
}


@media (max-width: 767px) {
  .modal.albums-modal .card .card-heading h3,
  .modal.videos-modal .card .card-heading h3 {
      display: none
  }
  .modal.albums-modal .card .card-heading .button,
  .modal.videos-modal .card .card-heading .button {
      margin-left: 0
  }
  .modal.albums-modal .card .card-heading .close-wrap,
  .modal.videos-modal .card .card-heading .close-wrap {
      margin-left: auto
  }
  .modal.albums-modal .card .card-body,
  .modal.videos-modal .card .card-body {
      -ms-flex-direction: column;
      flex-direction: column
  }
  .modal.albums-modal .card .card-body .left-section,
  .modal.videos-modal .card .card-body .left-section {
      display: none;
      width: 100%
  }
  .modal.albums-modal .card .card-body .right-section,
  .modal.videos-modal .card .card-body .right-section {
      width: 100%
  }
  .modal.albums-help-modal img,
  .modal.videos-help-modal img {
      height: 110px !important
  }
  .modal .modal-content {
      max-width: 340px
  }
  .modal .modal-content .content-block {
      width: 314px
  }
  .modal .modal-content .content-block img {
      height: 135px
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .modal.albums-modal .card .card-body .album-date .head h4,
  .modal.albums-modal .card .card-body .tagged-in-album .head h4,
  .modal.albums-modal .card .card-body .shared-album .head h4 {
      font-size: .75rem
  }
  .modal.albums-modal .card .card-body .album-date .head p,
  .modal.albums-modal .card .card-body .tagged-in-album .head p,
  .modal.albums-modal .card .card-body .shared-album .head p {
      font-size: .7rem
  }
}






/*! _forms.scss | Modelaweek */
/* 
.input,
.textarea {
  box-shadow: none !important
}

.input.is-light::-webkit-input-placeholder,
.textarea.is-light::-webkit-input-placeholder {
  color: #cecece
}

.input.is-light::-moz-placeholder,
.textarea.is-light::-moz-placeholder {
  color: #cecece
}

.input.is-light:-ms-input-placeholder,
.textarea.is-light:-ms-input-placeholder {
  color: #cecece
}

.input.is-light:-moz-placeholder,
.textarea.is-light:-moz-placeholder {
  color: #cecece
}

.input.is-dark,
.textarea.is-dark {
  color: #97a7c1 !important
}

.input.is-dark::-webkit-input-placeholder,
.textarea.is-dark::-webkit-input-placeholder {
  color: #677fa5 !important
}

.input.is-dark::-moz-placeholder,
.textarea.is-dark::-moz-placeholder {
  color: #677fa5 !important
}

.input.is-dark:-ms-input-placeholder,
.textarea.is-dark:-ms-input-placeholder {
  color: #677fa5 !important
}

.input.is-dark:-moz-placeholder,
.textarea.is-dark:-moz-placeholder {
  color: #677fa5 !important
}

.input {
  transition: all .3s
}

.input:focus {
  border-color: #0062ff
}

.input.is-sm {
  height: 32px;
  font-size: .9rem
}

.input.no-radius {
  border-radius: 1px
}

.input.is-fade:focus {
  border: 1px solid #ededed
}

.input.is-bordered:focus {
  border-color: #757a91
}

.textarea.is-sm {
  font-size: .9rem;
  resize: none
} */




/*! _animations.scss | Modelaweek */


@-webkit-keyframes progress-bar-stripes {
  from {
      background-position: 1rem 0
  }
  to {
      background-position: 0 0
  }
}

@keyframes progress-bar-stripes {
  from {
      background-position: 1rem 0
  }
  to {
      background-position: 0 0
  }
}

@-webkit-keyframes opacity-shift {
  0% {
      opacity: 1
  }
  50% {
      opacity: 0.5
  }
  100% {
      opacity: 1
  }
}

@keyframes opacity-shift {
  0% {
      opacity: 1
  }
  50% {
      opacity: 0.5
  }
  100% {
      opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }
  100% {
      opacity: 1
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }
  100% {
      opacity: 1
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.1s ease-in-out;
  animation: fadeIn 0.1s ease-in-out
}

@-webkit-keyframes fadeInLeft {
  from {
      -webkit-transform: translate3d(20px, 0, 0);
      transform: translate3d(20px, 0, 0);
      opacity: 0
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
}

@keyframes fadeInLeft {
  from {
      -webkit-transform: translate3d(20px, 0, 0);
      transform: translate3d(20px, 0, 0);
      opacity: 0
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
}

.preFadeInLeft {
  opacity: 0
}

.fadeInLeft {
  opacity: 0;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0.2;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
      
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0.2;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
      
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes wave {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
  25% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
  100% {
      -webkit-transform: scale(4.5);
      transform: scale(4.5);
      opacity: 0
  }
}

@keyframes wave {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
  25% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
  100% {
      -webkit-transform: scale(4.5);
      transform: scale(4.5);
      opacity: 0
  }
}

@-webkit-keyframes gelatine {
  from,
  to {
      -webkit-transform: scale(1, 1)
  }
  25% {
      -webkit-transform: scale(0.9, 1.1)
  }
  50% {
      -webkit-transform: scale(1.1, 0.9)
  }
  75% {
      -webkit-transform: scale(0.95, 1.05)
  }
}

@keyframes gelatine {
  from,
  to {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1)
  }
  25% {
      -webkit-transform: scale(0.9, 1.1);
      transform: scale(0.9, 1.1)
  }
  50% {
      -webkit-transform: scale(1.1, 0.9);
      transform: scale(1.1, 0.9)
  }
  75% {
      -webkit-transform: scale(0.95, 1.05);
      transform: scale(0.95, 1.05)
  }
}

.gelatine {
  -webkit-animation: gelatine 0.6s;
  animation: gelatine 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes modalScale {
  0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0)
  }
  100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}

@keyframes modalScale {
  0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0)
  }
  100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(359deg)
  }
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(359deg)
  }
}

@-webkit-keyframes gradientShift {
  0% {
      background-position: 50% 0%
  }
  50% {
      background-position: 50% 100%
  }
  100% {
      background-position: 50% 0%
  }
}

@keyframes gradientShift {
  0% {
      background-position: 50% 0%
  }
  50% {
      background-position: 50% 100%
  }
  100% {
      background-position: 50% 0%
  }
}


/*! _utils.scss | Modelaweek */

a {
  color: #0058e6;
  transition: all .3s
}

a:hover {
  color: #0058e6
}

a.is-inverted {
  color: #0062ff
}

a.standard-link {
  color: #039BE5;
  text-decoration: underline
}

/* var {
  font-style: normal
} */

/* code {
  word-break: break-all
} */

/* .is-disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default !important
} */

/* .no-click {
  pointer-events: none
} */

/* .is-vhidden {
  visibility: hidden !important
} */

/* .is-hidden {
  display: none !important
} */

.no-padding {
  padding: 0 !important
}

.no-margin {
  margin: 0 !important
}

.ml-auto {
  margin-left: auto !important
}

.mt-10 {
  margin-top: 10px !important
}

.mb-10 {
  margin-bottom: 10px !important
}



@-webkit-keyframes stroke {
  100% {
      stroke-dashoffset: 0
  }
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0
  }
}

@-webkit-keyframes scale {
  0%,
  100% {
      -webkit-transform: none;
      transform: none
  }
  50% {
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes scale {
  0%,
  100% {
      -webkit-transform: none;
      transform: none
  }
  50% {
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1)
  }
}

@-webkit-keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #0062ff
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #0062ff
  }
}

/* .fancybox-content {
  display: inline-block
}

.fancybox-content.hidden {
  display: none
} */

/* .morphing-btn-wrap,
#morphing {
  width: 111.425px
} */


/*! _feed.scss | Modelaweek */

.card.is-new-content .tabs-wrapper {
  border-radius: 6px
}
/* 
.card.is-new-content .tabs {
  border-radius: 6px 6px 0 0
}

.card.is-new-content .tabs ul {
  background: #1e1e1e
}

.card.is-new-content .tabs li {
  background: #1e1e1e
}

.card.is-new-content .tabs li.is-active a {
  color: #757a91;
  font-weight: 500
}

.card.is-new-content .tabs li.is-active a svg {
  stroke: #757a91
}

.card.is-new-content .tabs li.close-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center
}

.card.is-new-content .tabs li.close-wrap .close-publish {
  margin: 0 16px;
  display: none;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: background .3s
}

.card.is-new-content .tabs li.close-wrap .close-publish:hover {
  background: #e8e8e8
}

.card.is-new-content .tabs li.close-wrap .close-publish svg {
  height: 18px;
  width: 18px;
  stroke: #757a91
}

.card.is-new-content .tabs a {
  font-size: .9rem;
  color: #ffffff;
  padding: .75em !important;
  font-weight: 500;
}

.card.is-new-content .tabs a svg {
  stroke: #888da8
} */

.card.is-new-content .compose {
  padding: 0px 16px 0px;
  border-bottom: 1px solid #ced8ff;
}

.card.is-new-content .compose .compose-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch
}

.card.is-new-content .compose img {
  height: 42px;
  width: 42px;
  border-radius: 50%
}

.card.is-new-content .compose .control {
  width: 100%;
  display: flex
}

.card.is-new-content .compose .control .textarea {
  padding: 5px 10px;
  border-color: #d6dfff;
  resize: none;
  background: #ecf0ff;
  color: #2e52d6;
  margin-bottom: 20px;
  min-width: unset;
  font-size: 14px;
}

.card.is-new-content .compose .control .textarea::placeholder {
  color: #808080;
  font-size: 14px;
}



.card.is-new-content .compose-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0 0 6px 6px;
  background: #ffffff;
  cursor: pointer
}





.card.is-new-content .compose-options .compose-option {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 16px;
  margin-left: 10px;
  background: #f0f3ff;
  border-radius: 500px;
  font-size: .85rem;
  color: #888da8;
  border: 1px solid transparent;
  transition: all .3s;
}

.card.is-new-content .compose-options .compose-option.active {
  border: 1px solid #1b31d8;
  background: #d7dfff;
  transition: all .3s
}


.card.is-new-content .compose-options .compose-option:hover {
  background: #d7dfff;
  cursor: pointer;
}

.card.is-new-content .compose-options .compose-option.is-centered {
  margin: 0 auto
}




.card.is-new-content .compose-options .compose-option svg {
  height: 20px;
  width: 20px;
  transition: all .3s
}

.card.is-new-content .compose-options .compose-option img {
  display: block;
  height: 20px;
  width: 20px
}

.card.is-new-content .compose-options .compose-option input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

/* .card.is-new-content .more-wrap {
  display: none;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #e8e8e8;
  border-radius: 0 0 6px 6px;
  background: #fafafa
} */



/* 

.card .card-body .page-block,
.card .card-body .add-friend-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px
}

.card .card-body .page-block:not(:first-child),
.card .card-body .add-friend-block:not(:first-child) {
  border-top: 1px solid #323232
}

.card .card-body .page-block img,
.card .card-body .add-friend-block img {
  height: 40px;
  width: 40px;
  max-height: 40px;
  border-radius: 50%
}

.card .card-body .page-block .page-meta,
.card .card-body .add-friend-block .page-meta {
  padding: 0 10px;
  line-height: 1.3
}

.card .card-body .page-block .page-meta span,
.card .card-body .add-friend-block .page-meta span {
  display: block
}

.card .card-body .page-block .page-meta span:first-child,
.card .card-body .add-friend-block .page-meta span:first-child {
  font-size: .85rem;
  color: #fff;
  font-weight: 500
}

.card .card-body .page-block .page-meta span:nth-child(2),
.card .card-body .add-friend-block .page-meta span:nth-child(2) {
  font-size: .7rem;
  color: #dcdcdc
}

.card .card-body .page-block .add-page,
.card .card-body .page-block .add-friend,
.card .card-body .add-friend-block .add-page,
.card .card-body .add-friend-block .add-friend {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: auto;
  border-radius: 50%;
  transition: all .3s;
  cursor: pointer;
  color: white;
}

.card .card-body .page-block .add-page svg,
.card .card-body .page-block .add-friend svg,
.card .card-body .add-friend-block .add-page svg,
.card .card-body .add-friend-block .add-friend svg {
  width: 18px;
  height: 18px;
  stroke: #888da8;
  transition: all .3s
}

.card .card-body .page-block .add-friend:hover,
.card .card-body .add-friend-block .add-page:hover,
.card .card-body .add-friend-block .add-friend:hover {
  background: #f5f5f5
}

.card .card-body .page-block .add-page:hover svg,
.card .card-body .page-block .add-friend:hover svg,
.card .card-body .add-friend-block .add-page:hover svg,
.card .card-body .add-friend-block .add-friend:hover svg {
  stroke: #0062ff
}

.card .card-body .page-block .checkmark-wrapper,
.card .card-body .add-friend-block .checkmark-wrapper {
  margin-left: auto;
  margin-right: 8px
} */
/* 
.card .card-body .story-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 16px
}

.card .card-body .story-block:not(:first-child) {
  border-top: 1px solid #e8e8e8
}

.card .card-body .story-block .img-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  width: 48px;
  max-height: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: 1px solid #888da8
}

.card .card-body .story-block .img-wrapper img {
  height: 38px;
  width: 38px;
  border-radius: 50%
}

.card .card-body .story-block .add-story {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 44px;
  width: 44px;
  max-height: 44px;
  min-width: 44px;
  border-radius: 50%;
  border: 2px dashed #e8e8e8;
  transition: all .3s
}

.card .card-body .story-block .add-story svg {
  width: 18px;
  height: 18px;
  stroke: #e8e8e8
}

.card .card-body .story-block .add-story:hover {
  border: 2px solid #ff5f59
}

.card .card-body .story-block .add-story:hover svg {
  stroke: #ff5f59
}

.card .card-body .story-block .story-meta {
  padding: 0 10px
}

.card .card-body .story-block .story-meta span {
  display: block
}

.card .card-body .story-block .story-meta span:first-child {
  font-size: .85rem;
  color: #fff;
  font-weight: 500
}

.card .card-body .story-block .story-meta span:nth-child(2) {
  font-size: .8rem;
  color: #dcdcdc
} */





@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .compose .compose-form img {
      height: 36px !important;
      width: 36px !important
  }
  /* .card .page-block img,
  .card .add-friend-block img {
      height: 32px !important;
      width: 32px !important
  }
  .card .story-block .img-wrapper {
      height: 40px !important;
      width: 40px !important;
      max-height: 40px !important;
      min-width: 40px !important
  }
  .card .story-block .img-wrapper img {
      height: 32px !important;
      width: 32px !important
  }
  .card .story-block .add-story {
      height: 38px !important;
      width: 38px !important;
      max-height: 38px !important;
      min-width: 38px !important
  } */
  /* .list-placeload .img {
      height: 32px !important;
      width: 32px !important;
      min-width: 32px !important
  }
  .stories-placeload .img {
      height: 38px !important;
      width: 38px !important;
      max-height: 38px !important;
      min-width: 38px !important
  } */
}



@media screen and (min-width: 1297px) {
  .container.is-custom {
      max-width: 1240px;
      width: 1240px
  }
}

@media screen and (min-width: 1088px) {
  .container.is-custom {
      max-width: 1140px;
      width: 1140px
  }
}

@media (max-width: 767px) {
  .view-wrap.is-headless {
      padding-top: 10px !important
  }
  .column.no-padding-left {
      padding-left: .75rem
  }
  .column.no-padding-right {
      padding-right: .75rem
  }
  .column.no-side-padding-mobile {
      padding-left: 0 !important;
      padding-right: 0 !important
  }  
  .card.is-post .likers-text {
      display: none
  }
  .card.is-post .post-link {
      -ms-flex-direction: column;
      flex-direction: column
  }
  .card.is-post .post-link .link-image {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-height: 180px
  }
  .card.is-post .post-link .link-image>img {
      width: 100% !important;
      height: 100% !important;
      max-height: 180px;
      object-fit: cover
  }
  .card.is-post .post-link .link-content {
      margin-left: 0 !important;
      padding: 16px 6px
  }
 
  .modal-content {
      max-height: calc(100vh - 80px) !important
  }
  
  
}


.modal-card {
  margin-bottom: 0px;
  border: 1px solid #797979;
  border-radius: 6px;
}

.mr-10 {
  margin-right: 10px;
}

.m-0 {
  margin: 0px !important;
}

.mt-5 {
  margin-top: 5px;
}

.mt-20 {
  margin-top: 20px;
}


.modal-content .card {
  background-color: #ffffff;
}

.card.is-new-content.create-post .compose-options {
  justify-content: flex-end;
}

.second-menu {
  margin: 25px -17px 5px;
  padding: 20px 17px;
  background: #d6d6d6 !important;
  justify-content: flex-start !important;
  transition: all ease 0.4s;
}

.second-menu .columns{
  width: 100%;
}

.second-menu-heading {
  font-size: 12px;
  text-align: center;
}

.secondmenu-options-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  align-items: center;
  justify-content: center;
}

.second-menu-right .secondmenu-options-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 14px;
  align-items: center;
  justify-content: center;
}

.secondmenu-option {
  font-size: 12px;
  width: 45%;
  margin: 0% 2%;
  text-align: center;
  background: #f0f3ff;
  margin-bottom: 3%;
  color: #1d3db3;
  padding: 6px 16px;
  border-radius: 40px;
  transition: all ease 0.4s;
}

/* .second-menu-right .secondmenu-option {
 width: 100%; 
} */


.secondmenu-option:hover {
  background: #d7dfff;
  transition: all ease 0.4s;
}

.br-1 {
  border-right: 1px solid #bbbbbb;
}





/* CONVERT CHECKBOX STARTS*/

.convert-checkbox-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.convert-checkbox {
  display: block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  padding-top: 1px;
  font-size: 11px;
  user-select: none;
  color: #8c8c8c;
}

.convert-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.convert-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #ababab;
  border-radius: 4px;
}
.convert-checkbox:hover input ~ .checkmark {
  background-color: #ababab;
}

.convert-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.convert-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.convert-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.convert-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 7px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CONVERT CHECKBOX ENDS */











@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.fas, .far, .fal {
  color: white;
  width: 1rem;
}

.nav-drop .fas, .nav-drop .far, .nav-drop .fal, .modal .fas {
  color: #393a4f;
}

strong {
  color: unset !important;
  font-weight: 700;
}



@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}


.app-alerts .app-alert.success {
  background-color: #344258 !important;
  opacity: 1 !important;
}

.app-alerts .app-alert {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  min-width: 200px;
  max-width: 400px;
  padding: 0 15px;
  transition: .2s ease-in-out;
  position: absolute;
  right: 10px;
  width: 320px;
  height: 82px;
  opacity: 1 !important;
  border-radius: 8px;
}

.app-alerts .app-alert .content {
  padding: 0px 25px !important;
  line-height: 17px !important;
  margin: auto;
  float: left;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: .80rem;
  font-weight: 100;
}

.not-show {
  display: none;
}

.text-center {
  text-align: center !important;
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.m-0-10{
  margin: 0px 10px;
}

.modal-fa {
  font-size: 50px;
  width: auto;
  color: #aaaaaa !important;
  transition: all ease 0.4s;
}

.just{
  justify-content: center;
}














/*filter */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}
.filter-prev {
  width: 40px;
  padding: 1px;
  /* cursor: pointer; */
  border-radius: 5px;
}

.filter-text  {
	color:white;
}

.filter-group {
  text-align: center;
  display: inline-block;
  width: 33%;
  margin-bottom: 10px;
  cursor: pointer;
}

sup {
  display: block;
  font-size: 75%;
  line-height: 0;
  position: relative;
}
.imagepicker-toolBox button {
  margin-bottom: 10px;
}
.preview-wrapper {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

p.image-filter-process-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

/*filter */
























.card.is-new-content .compose img.single-post-img {
  border-radius: 4px;
  height: 80px;
  width: 80px;
  object-fit: contain;
  white-space: normal;
  display: block;
  position: relative;
  top: -1px;
}

.cp-image-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 15px;
}

.single-post-img-container {
  position: relative;
  /* margin: 0px 10px 20px 10px; */
  margin: 10px 10px 25px 10px;
}
 

i.single-clse {
  position: absolute;
  top: -5px;
  color: #2e52d6;
  z-index: 1;
  right: -5px;
  background: white;
  border-radius: 50%;
  font-size: 18px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  
}


i.video-icn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.final-download-btn{
  font-size: 11px;
  display: block;
  text-align: center;
  padding: 5px;
  transition: all ease 0.2s;
}


.final-download-btn:hover{
  color: #001ad6;
  transition: all ease 0.2s;
}


.black-overlay::before{
  content: '';
  position: absolute;
  display: flex;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  top: 0px;
    bottom: 0px;
  /* background: linear-gradient(to bottom , rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%); */
  opacity: .6;
  z-index: 1;
  width: 80px;
}

.loiku {
  border-radius: 4px;
  height: 80px;
  width: 80px;
  object-fit: contain;
  border: 1px dashed #cfd9ff;
  background: #ecf0ff;
}





.full-page-loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgba(30, 30, 30, 0.59);
}
.full-page-loader img{
  height: 50px;
  position: absolute;
  top: 50%;
  left: 48%;
  z-index: 99;
}





















label.cover-uploader-box.no-camera-available {
  background-color: #dedede;
  cursor: not-allowed !important;
  /* pointer-events: not-allowed; */
}

label.cover-uploader-box:first-child {
  margin-right: 10px;
}

label.cover-uploader-box:last-child {
  margin-left: 10px;
}

.cover-uploader-box:hover .modal-fa{
  font-size: 50px;
  width: auto;
  color: #2e52d6 !important;
  transition: all ease 0.4s;
}

.cover-uploader-box:hover .inner-content span {
  color: #2e52d6 !important;
  transition: all ease 0.4s;
}

.cover-uploader-box.no-camera-available:hover .modal-fa{
  font-size: 50px;
  width: auto;
  color: #aaaaaa !important;
  transition: all ease 0.4s;
}


.cover-uploader-box.no-camera-available:hover .inner-content span {
  color: #aaaaaa !important;
  transition: all ease 0.4s;
}


.upload-crop-cover-modal .card .card-body .profile-uploader-box .inner-content span,
.upload-crop-cover-modal .card .card-body .cover-uploader-box .inner-content span {
  display: block;
  text-align: center;
  color: #aaaaaa;
  padding: 10px 0
}

.card.is-new-content .compose-options .compose-option span {
  display: block;
  padding: 0 8px;
  color: #1d3db3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.card.is-new-content .compose-options .compose-option .fas {
  color: #1d3db3;
}

img.profile-image-create-port {
  margin-right: 15px;
}

.card-shadow {
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.19);
}

.copyright-text {
  /* position: absolute; */
  left: 0;
  right: 0;
  text-align: center;
  bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #2e52d6;
  font-weight: 100;
  font-size: 12px;
  /* opacity: 0.8; */
}

.copyright-text span i{
  color: #ff0052 !important;
  font-size: 15px;
  margin: 0px 4px 0px 1px;
}

.justify-content {
  justify-content: center;
}

.full-width {
  width: 100%;
}

.stats-header-container {
  margin-bottom: 1.1rem;
}

.stats-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
  width: 100%;
  padding: 20px 18px 0px;
  color: #2e52d6;
  font-weight: 700;
}


.logo-area {
  text-align: center;
  background: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 30%;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.19);
}

.pictor-logo {
  height: 40px;
}
.edited-text {
  display: block;
  width: 100%;
  text-align: center;
  color: #c6cbda;
  margin-top: 0px;
  font-size: 12px;
  font-weight: 100;
  position: relative;
  height: 20px;
  border-bottom: 1px solid #c6cbda;
}

.edited-text span {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  background: white;
  width: 65%;
  margin: 0 auto;
}

.card.is-new-content .compose.edited {
  /* padding-bottom: 20px; */
  border-bottom: 0px;
}









/* IMAGE SELECT MODAL STARTS*/
.extreme-left-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: -webkit-fill-available;
}

.light-blue-bg {
  background-color: #d6dfff;
  position: relative;
  min-height: 250px;
}

.extreme-left-options button {
  background: transparent;
  border: none;
  text-align: center;
  width: 100%;
  outline: none;
  min-height: 70px;
  cursor: pointer;
  position: relative;
}

button.disable-button {
  opacity: 0.4;
  cursor: not-allowed;
}

.extreme-left-options button.active::before{
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f5f6f7;
  border-top: 10px solid transparent;
  right: -12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.extreme-left-options span {
  display: block;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #2b2b2b;
}

.extreme-left-options .active span {
  display: block;
  margin: 0 auto;
  color: #1d3db3;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.extreme-left-options span.icon{
  font-size: 18px;
}

.extreme-left-options span.icon .fas{
  color: #1d3db3;
  color: #2b2b2b;
}
.extreme-left-options .active span.icon .fas{
  color: #1d3db3;
}

.upload-crop-cover-modal .card .card-body.n-pad {
  padding: 0px;
  margin-left: -3px;
}

.is-2-container {
  background: #f5f6f7;
  position: relative;
}

.card-bottom {
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-solid-button {
  background: #2e52d6;
  border: 1px solid #2e52d6;
  padding: 8px 15px 9px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 0.3px;
  display: inline-block;
}

.footer-solid-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.footer-outline-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.footer-solid-button:hover {
  background: #1d3db3;
  border: 1px solid #2e52d6;
  padding: 8px 15px 9px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

.footer-solid-button span {
  color: white;
  display: flex;
  align-items: center;
}

.footer-solid-button span .fas {
  color: white;
  margin-right: 5px;
}

.footer-outline-button {
  background: transparent;
  border: 1px solid #2e52d6;
  padding: 6px 15px 7px;
  color: #2e52d6;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.footer-outline-button:hover {
  background: #f5f6f7;
  border: 1px solid #2e52d6;
  padding: 6px 15px 7px;
  color: #2e52d6;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.bb-grey {
  border-bottom: 1px solid #efefef;
}
.bt-grey {
  border-top: 1px solid #efefef;
}

button.adjust-button {
  background: #eaeeff;
  border: 1px solid #d6dfff;
  border-radius: 4px;
  cursor: pointer;
  padding: 0px;
  font-size: 10px;
  outline: none;
}

.single-adjustment {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.single-adjustment p {
  display: inline-block;
  font-size: 13px;
  color: #2b2b2b;
  width: 75px;
  text-align: center;
}

button.adjust-button:hover {
  background: #d7dfff;
}

button.adjust-button .fas{
  color: #1d3db3;
}

.ac-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 12px;
  right: 12px;
  bottom: 0px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.sec-btns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  margin-right: 10px;
  background: #eaeeff;
  border-radius: 500px;
  font-size: .85rem;
  color: #888da8;
  transition: all .3s;
  border: 0px;
  border: 1px solid #d6dfff;
  cursor: pointer;
  outline: none;
  margin: 10px auto 10px;
  min-width: 157px;
}

.sec-btns:hover {
  background: #d7dfff;
}

.sec-btns span {
  display: block;
  padding: 0 8px;
  color: #1d3db3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.filter-name {
  font-size: 9px;
  margin: 0px;
  margin-top: -5px;
}

.sec-msg {
  position: absolute;
  left: 10px;
  right: 10px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: #999;
  font-family: 'Montserrat', sans-serif;
}

.frst-container {
  margin-bottom: 20px;
}

/* .filter-prev-container {
  min-width: 25px;
  min-height: 15px;
} */

.filter-prev-container {
  min-width: 25px;
  min-height: 15px;
  max-width: 40px;
  margin: 0 auto;
  height: 33px;
  background: #d6dfff;
  margin-bottom: 8px;
  border-radius: 5px;
}

.canvas-height {
  width: auto; 
  max-height: 450px;
  max-width:100%;
  position:relative
}
.sun-icon {
  color: rgb(172, 172, 172);
  position: absolute;
  right: 8px;
  top: 7px;
}
.moon-icon {
  color: rgb(172, 172, 172);
  position: absolute;
  left: 8px;
  top: 7px;
}

/* IMAGE SELECT MODAL ENDS*/
















/* CROPPER CSS STARTS */

.cropper-dashed {
  border: 1px solid #eee !important;
  opacity: 1 !important;
}

.cropper-dashed.dashed-v {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.cropper-dashed.dashed-h {
  border-right: 0px !important;
  border-left: 0px !important;
}

.cropper-point.point-ne {
  right: -5px !important;
  top: -5px !important;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}

.cropper-point.point-nw {
  left: -5px !important;
  top: -5px !important;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}

.cropper-point.point-sw {
  left: -5px !important;
  bottom: -5px !important;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}

.cropper-point.point-se {
  right: -5px !important;
  bottom: -5px !important;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}


.cropper-point.point-e {
  right: -6px !important;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}

.cropper-point.point-w {
  left: -6px !important;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}

.cropper-point.point-n {
  top: -6px !important;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}

.cropper-point.point-s {
  bottom: -6px !important;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  opacity: 0.80;
  background-color: #fff;
  border: 2px solid #1d3db3;
}

/* CROPPER CSS ENDS */






















/* DARK MODE CSS STARTS */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 9px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f3ff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: rgb(172, 172, 172);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: #1d3db3;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d7dfff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f0f3ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* SWITCH ENDS */




.view-wrapper.darkmode {
  background: #4e4e4e;
}

.darkmode .card {
  border: 1px solid #222222;
  background-color: #222222 !important;
}

.darkmode .card.is-new-content .compose-options {
  background: #222222;
}

.darkmode .stats-header {
  color: #ffffff;
}

.darkmode .card.is-new-content .compose .control .textarea {
  border-color: #4e4e4e;
  background: #4e4e4e;
  color: #ffffff;
}

.darkmode .copyright-text {
  color: #ffffff;
}
.darkmode .copyright-text A{
  color: #ffffff;
}
.darkmode .logo-area {
  background: #222222;
}

.darkmode .card.is-new-content .compose-options .compose-option {
  background: #4e4e4e;
}
.darkmode .card.is-new-content .compose-options .compose-option span {
  color: #ffffff;
}
.darkmode .card.is-new-content .compose-options .compose-option .fas {
  color: #ffffff;
}
.darkmode .card.is-new-content .compose {
  border-bottom: 0px solid #4e4e4e;
}
.darkmode .frst-container label {
  background-color: rgb(34, 34, 34) !important;
}

.darkmode .upload-crop-profile-modal .card .card-heading h3, .darkmode .upload-crop-cover-modal .card .card-heading h3 {
  color: #ffffff;
}
.darkmode .bb-grey {
  border-bottom: 1px solid #3a3a3a;
}
.darkmode .bt-grey {
  border-top: 1px solid #3a3a3a;
}
.darkmode .is-2-container {
  background: #141414;
}
.darkmode .footer-outline-button {
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: all ease 0.4s;
}
.darkmode .single-adjustment p {
  color: #ffffff;
}
.darkmode .filter-name {
  color: #ffffff;
}
.darkmode .sec-btns {
  background: #4e4e4e;
  border: 1px solid #4e4e4e;
}
.darkmode .sec-btns span {
  color: #ffffff;
}
.darkmode .loiku {
  border: 1px dashed #4e4e4e;
  background: #4e4e4e;
}
.darkmode i.single-clse {
  background: #222222;
}
.darkmode .edited-text span {
  background: #222222;
}

.darkmode .second-menu {
  background: #3c3c3c !important;
  justify-content: flex-start !important;
}

.darkmode .second-menu-heading {
  font-size: 12px;
  text-align: center;
  color: #c6cbda;
}
.darkmode .secondmenu-option {
  background: #4e4e4e;
  color: #ffffff;
}

.darkmode .final-download-btn{
  color: #fff;
}

.darkmode .final-download-btn:hover{
  color: rgb(202, 208, 255);
  transition: all ease 0.2s;
}

/* DARK MODE CSS ENDS */














/* RESPONSIVE CSS STARTS */


@media only screen and (max-width: 767px) {
  .most-right {
    position: relative;
    right: unset;
    margin-top: 10px;
  }

  .upload-crop-cover-modal .card .card-body .cover-uploader-box {
    display: block;
    width: 100%;
    height: 200px;
    padding: 40px;
    border: 3px dashed #e8e8e8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label.cover-uploader-box:first-child {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  label.cover-uploader-box:last-child {
    margin-left: 0px;
  }

  .frst-container {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .responsive {
    display: block;
  }

  .light-blue-bg {
    background-color: #d6dfff;
    position: relative;
    height: 95px;
    padding-right: 0px;
    padding-left: 0px;
    min-height: 95px;
  }

  .extreme-left-options {
    height: auto;
    display: unset;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
  }

  .extreme-left-options::-webkit-scrollbar {
    display: none;
  }

  .extreme-left-options button {
    background: transparent;
    border: none;
    text-align: center;
    width: 70px;
    outline: none;
    min-height: 70px;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }

  .extreme-left-options button:last-child {
    margin-right: 10px;
  }

  .extreme-left-options button.active::before {
    content: unset;
  }

  .extreme-left-options .active span.icon .fas {
    transform: scale(1.3);
    transition: all ease 0.2s;
  }

  .is-2-container {
    position: relative;
    height: 105px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .sec-btns-container {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
  }

  .sec-btns-container::-webkit-scrollbar {
    display: none;
  }

  .sec-btns {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    margin-right: 10px;
    background: #eaeeff;
    border-radius: 500px;
    font-size: .85rem;
    color: #888da8;
    transition: all .3s;
    border: 0px;
    border: 1px solid #d6dfff;
    cursor: pointer;
    outline: none;
    margin: 0px 0px 0px 10px;
    min-width: 120px;
  }

  .sec-btns:last-child {
    margin-right: 20px;
  }

  .ac-container {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    left: 12px;
    right: 12px;
    bottom: 0px;
  }

  .ac-container button {
    padding: 14px 20px;
    font-size: .7rem;
  }

  .single-adjustment {
    align-items: baseline;
    justify-content: space-evenly;
    display: inline-block;
    margin: 0px 0px 0px 20px;
  }

  .filter-group {
    text-align: center;
    display: inline-block;
    width: 20%;
    margin-bottom: 10px;
  }

  .filter-prev {
    width: 35px;
    padding: 1px;
    cursor: pointer;
    border-radius: 5px;
  }

  .canvas-height {
    width: auto; 
    max-height: 240px;
    max-width:100%;
    position:relative
  }

  .close-wrap.responsive {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .close-wrap.responsive .footer-outline-button{
    min-width: 167px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 8px 15px 7px;
  }

  .close-wrap.responsive .footer-solid-button{
    min-width: 167px;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .stats-header {
    display: block;
    text-align: center;
  }
  .card.is-new-content.create-post .compose-options {
    white-space: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .logo-area {
    width: 80%;
  }

  .edited-text {
    margin-bottom: 15px;
  }

  .edited-text span {
    width: 100%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    padding: 0px 30px;
  }

  .second-menu .columns {
    margin: 0px;
  }

  .second-menu .br-1 {
    border-right: 0px;
    border-bottom: 1px solid #bbbbbb;
  }

  .copyright-text {
    position: relative;
  }

  .secondmenu-option {
    width: 60%;
  }

  .convert-checkbox-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  input#favcolor {
    margin-top: 10px;
  }

}

/* RESPONSIVE CSS ENDS */
