<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav class="mat-elevation-z4" mode="over" opened="false">
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <span>Menu</span>
      <span class="spacr"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems">
        <mat-icon matListIcon>{{item.icon}}</mat-icon>
        <a matLine [href]="item.url">
          {{item.name}}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <!-- <mat-toolbar color="primary" class="f-header mat-elevation-z6" style="height: 40px">
      <div class="d-flex container">
        <span>
          <a [routerLink]="['/cart']">
            <button type="button" color="primary" mat-flat-button>
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </a>
        </span>
        <span class="spacr"></span>
        <span>
          <a mat-flat-button color="primary" href="mailto:Aditya@printposters.in">
            <mat-icon inline=true>email</mat-icon> <span *ngIf="!(isHandset | async)">Aditya@printposters.in</span>
          </a>
          <a mat-flat-button color="primary" href="tel:8999456975">
            <mat-icon inline=true>call</mat-icon> <span *ngIf="!(isHandset | async)">8999456975</span>
          </a>
        </span>
      </div>
    </mat-toolbar> -->
    <mat-toolbar color="light" class="mat-elevation-z6" style="height: 80px">
      <div class="d-flex v-align-center container">
        <button *ngIf="(isHandset | async)" type="button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          <a routerLink="">
            <!-- <img src="assets/imgs/logo.png" alt="Print Poster Logo" height="60px"> -->
            <img src="assets/imgs/ppmainlogo.png" alt="Print Poster Logo" height="60px">
          </a>
        </span>
        <!-- <span class="spacr"></span> -->
        <span style="height: 55px;" class="spacr">
          <mat-form-field *ngIf="!(isHandset | async)" appearance="outline"
            style="font: caption; width: 80%; margin: 0 10%">
            <mat-label>Search here...</mat-label>
            <input matInput placeholder="Search here...">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </span>

        <a mat-button class="p-0 d-none d-md-block" href="mailto:Aditya@printposters.in">
          <mat-icon inline=true>email</mat-icon> <span *ngIf="!(isHandset | async)">Aditya@printposters.in</span>
        </a>
        <a mat-button class="p-0 d-none d-md-block" href="tel:8999456975">
          <mat-icon inline=true>call</mat-icon> <span *ngIf="!(isHandset | async)">8999456975</span>
        </a>
        <a [routerLink]="['/cart']" *ngIf="loggedIn()">
          <button type="button" mat-button class="p-0">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </a>
        <a mat-button class="p-0" *ngIf="!loggedIn()" routerLink="login">
          <mat-icon inline=true>lock</mat-icon> <span *ngIf="!(isHandset | async)">Login</span>
        </a>
        <a mat-button class="p-0" *ngIf="!loggedIn()" routerLink="register">
          <mat-icon inline=true>person_add</mat-icon> <span *ngIf="!(isHandset | async)">Register</span>
        </a>
        <a mat-button class="p-0" *ngIf="loggedIn()" routerLink="profile">
          <mat-icon inline=true>person</mat-icon> <span *ngIf="!(isHandset | async)">Profile</span>
        </a>
        <a mat-button class="p-0" *ngIf="loggedIn()" (click)="logout()">
          <mat-icon inline=true>power_settings_new</mat-icon> <span *ngIf="!(isHandset | async)">Logout</span>
        </a>
      </div>
    </mat-toolbar>
    <mat-toolbar *ngIf="!(isHandset | async)" color="primary" class="f-header mat-elevation-z6" style="height: 40px">
      <div class="d-flex container">
        <a mat-button routerLink="">
          <mat-icon inline=true>home</mat-icon> Home
        </a>
        <button mat-button [matMenuTriggerFor]="menu">Canvas Print <mat-icon inline=true>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <!-- <button mat-button [matMenuTriggerFor]="menu1">Promotional Prints <mat-icon inline=true>arrow_drop_down
          </mat-icon></button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu2">Vinyl Prints <mat-icon inline=true>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu3">Photo Print (HD) <mat-icon inline=true>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu4">Size And Prices <mat-icon inline=true>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu4="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu5">Wallpapers <mat-icon inline=true>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu5="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu6">Gallery Images <mat-icon inline=true>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu6="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu> -->

      </div>
    </mat-toolbar>

    <nav class="my-0 navbar navbar-expand navbar-light bg-transparent d-none d-md-block container position-relative">
      <div class="nav navbar-nav w-100 justify-content-space-between bg-transparent">
        <a *ngFor="let menu of menus" (mouseover)="loadSubMenus(menu.Type_ID)" class="btn btn-flat btn-sm" href="{{menu.Page_Title}}" [ngClass]="{'btn-active': currentUrl == menu.Page_Title}" [attr.rel]="menu.Type_Name == 'Offset Printing' ? 'nofollow' : ''">{{menu.Type_Name}}</a>
      </div>
      <div *ngIf="submenus[currentMenu]?.length" (mouseleave)="currentMenu = null" class="p-3 pb-0 w-100 bg-light position-absolute shadow animated fadeIn" style="z-index: 999">
        <div class="row">
          <div *ngFor="let menu of submenus[currentMenu]" class="col-12 col-sm-4 col-md-3">
            <a [href]="menu.Page_Title" class="card border-0 pb-2">
              <img [src]="env.url + '/file/downloadThumbnail/' + menu.Image" alt="{{menu.Type_Name}}" class="w-100">
              <div class="card-body">
                <p class="card-text">{{menu.Type_Name}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <ng-content></ng-content>
    </main>
  </div>
  <footer>
    <div class="bg-dark p-2" style="color: #fff !important;">
      <div class="row py-4 px-2">
        <div class="col-md-4">
          <p class="j-text">Printposters.in provides the online printing service for Canvas Prints, Poster Prints and
            Vinyl Prints We also provide promotional event material, Our Prints are of Highest Quality with Quick
            Delivery across the India.</p>
        </div>
        <div class="col-6 col-md-3">
          <h5>Services Offered</h5>
          <ul>
            <li><a href="https://printposters.in/about/">About</a></li>
            <li><a href="https://printposters.in/terms-service/">Terms of Services</a></li>
            <li><a href="https://printposters.in/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://printposters.in/blog/">Blog</a></li>
            <li><a href="https://m.printposters.in/profile/">My Account</a></li>
            <li><a href="https://printposters.in/faq-page">FAQ</a></li>
            <li><a href="https://printposters.in/contact-page/">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="https://m.printposters.in">Home</a></li>
            <li><a href="https://m.printposters.in/canvas-prints">Canvas Print</a></li>
            <li><a href="https://printposters.in/pamphlet-print">Pamphlet-print</a></li>
            <li><a href="https://printposters.in/vinyl-prints">Vinyl Prints</a></li>
            <li><a href="https://printposters.in/discount-coupons/discount-coupons">Coupouns</a></li>
            <li><a href="https://printposters.in/shop/pricing">Size and Prices</a></li>
          </ul>
        </div>
        <div class="row col-md-3">
          <div class="col-6 col-md-12">
            <img src="assets/imgs/logo.png" class="mb-2" alt="logo" width="150px">
          </div>
          <div class="col-6 col-md-12">
            <h5>GET IN TOUCH</h5>
            <ul>
              <li><a href="https://m.printposters.in">printposters.in</a></li>
              <li><a href="mailto:aditya@printposters.in">aditya@printposters.in</a></li>
              <li><a href="tel:8999456975">+91-8999456975</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bg-light p-1" style="width:100%"></div>
      <div class="row py-2">
        <div class="col text-muted">
          Printposters.in. All Rights Reserved.
        </div>
        <div class="col text-muted">
          <p class="float-right">Terms Of Us | Privacy Policy</p>
        </div>
      </div>
    </div>
  </footer>
</mat-sidenav-container>