.spacr {
  flex: 1 1 auto;
}
.f-header {
  font-size: 15px;
  line-height: 40px;
}
.f-header mat-icon {
  font-size: 15px !important;
}
mat-toolbar mat-icon {
  font-size: 20px;
}
.v-align-center {
  justify-content: center;
  align-items: center;
}
footer {
  overflow: hidden;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-decoration: underline;
}
.j-text {
  text-align: justify;
}
.justify-content-space-between {
  justify-content: space-between;
}
.btn-active {
  background-color: #1b7cbe !important;
  box-shadow: 2px 2px 10px #3338 !important;
  color: #fff !important;
}