<!-- Page Content -->
<div class="image-upload">
    <div class="card">
      <div class="card-body">
        <div class="collage-setting-row">
          <label class="pl-2">Collage Size</label>
        </div>
        <div class="collage-setting-row">
          <div class="col-md-6 collage-size">
            <mat-form-field appearance="fill">
              <mat-label>Width</mat-label>
              <mat-select [(value)]="width">
                <mat-option *ngFor="let size of collageWidth" [value]="size">
                  {{size}} inch
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 collage-size">
            <mat-form-field appearance="fill">
              <mat-label>Height</mat-label>
              <mat-select [(value)]="height">
                <mat-option *ngFor="let size of collageHeight" [value]="size">
                  {{size}} inch
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="collage-setting-row">
          <mat-checkbox class="pl-2" [(ngModel)]="landscape">Landscape</mat-checkbox>
        </div>
        <div class="collage-setting-row">
          <div class="col-md-6">
            <input class="color-picker" 
              value="Color"
              [style.background]="borderColor"
              [cpAlphaChannel]="'always'"
              [cpOutputFormat]="'rgba'"
              [cpPresetColors]="['#fff', '#2889e9']"
              [cpAddColorButton]="true"
              [(colorPicker)]="borderColor"/>
          </div> 
          <div class="col-md-6">
            <mat-form-field class="collage-border">
              <mat-label>Border</mat-label>
              <input matInput maxlength="2" type="number" class="text-center" [(ngModel)]="borderWidth">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!collageTemplate">
          <div class="row pl-1 m-1 text-center">
            <div class="col-md-12 text-center">
              <button mat-raised-button class="btn btn-sm btn-block btn-primary" (click)="createCollage()">Create Collage</button>
            </div>
          </div>
          <div class="row pl-1 m-1 text-center">
            <div class="col-md-12 text-center">
              <button mat-raised-button class="btn btn-sm btn-block btn-primary" (click)="selectTemplate()">Select Template</button>
            </div>
          </div>
          <div class="row pl-1 m-1 text-center">
            <div ngbDropdown class="col-md-12 text-center">
              <button mat-raised-button class="btn btn-sm btn-block btn-primary" id="dropdownBasic1" ngbDropdownToggle>Print Collage Image</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="printCollage(0)">Canvas Print - Single Frame</button>
                <button ngbDropdownItem (click)="printCollage(1)">Poster Print - With Sticker</button>
                <button ngbDropdownItem (click)="printCollage(2)">Poster Print - Without Sticker</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="collageTemplate" class="clearfx">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-sm shadow collage-btn" (click)="createCollage()">Create</button>
          </div>
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-sm shadow collage-btn" (click)="saveTemplate()">Save Template</button>
          </div>
        </div>
      </div>
    </div>
</div>