.card .card-body {
  padding: 0.9375rem 0px;
  position: relative;
}

.collage-setting-row {
  display: flex;
  margin-left: 2px;
  margin-right: 2px;
}

.collage-size {
  padding-left: 0px;
  padding-right: 0px;
}

.collage-border {
  width: 80px!important;
  display: inline;
  border: 0px!important;
}

.collage-btn {
  width: 160px;
}

.color-picker {
  width: 60px;
  height: 25px;
  border: 0px;
  margin-left: 20px;
  margin-top: 10px;
}

mat-checkbox {
  vertical-align: middle;
}

mat-form-field {
  width: 100%;
}