<h1 mat-dialog-title>Select Collage Template</h1>
<div mat-dialog-content>
    <div class="row text-center text-lg-left p-3 m-0">
      <div *ngFor="let image of images" class="col-lg-2 col-md-2 col-sm-6" id="preview-images">
        <img class="img-fluid img-thumbnail preview-image" width="100%" src="{{image.src}}" alt="">
        <div class="preview-middle">
          <div class="example-button-container">
            <button mat-raised-button class="btn btn-sm btn-block btn-danger m-2" (click)="onSelectTemplate(image)">Select</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <div class="col-md-12 spinner-container">
        <mat-spinner class="vertical-center" [diameter]="60"></mat-spinner>
      </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Close</button>
</div>
