<div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>
<div class="collage-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <image-upload [imageSvc]="imageSvc"></image-upload>
      </div>
      <div class="col-md-10">
        <div class="grey-box">
          <div class="card-body">
            <div class="row">
              <div *ngFor="let image of imageSvc.thumbImages" class="col-lg-4 col-md-4 col-sm-4 col-4 p-0" id="server-images">
                <div class="d-block mb-1 h-200">
                  <button type="button" class="close" aria-label="Close" style="position: absolute; right: 6px" (click)="deleteImage(image)">
                    <span aria-hidden="true" style="color: #dc3545">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <div class="col-md-12 spinner-container">
        <mat-spinner class="vertical-center" [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</div>


