<h1 mat-dialog-title>Save wall</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 col-md-12">
      <mat-form-field >
        <mat-label>Title</mat-label>
        <input matInput maxlength="200" type="text" [(ngModel)]="data.title">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-12">
      <mat-form-field >
        <mat-label>Discount</mat-label>
        <input matInput maxlength="10" type="number" [(ngModel)]="data.discount">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-12">
      <mat-form-field>
        <mat-label>Width (feet)</mat-label>
        <input matInput maxlength="10" type="number" [(ngModel)]="data.width" readonly>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-12">
      <mat-form-field>
        <mat-label>Height (feet)</mat-label>
        <input matInput maxlength="10" type="number" [(ngModel)]="data.height" readonly>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onApply()">OK</button>
</div>
