<div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>
<div class="collage-content">
  <div class="container-fluid">
    <div class="row">
      <div class="collage-maker-title">Free Online Automatic Collage Maker</div>
    </div>
    <div class="row">
      <div id="menu-image-edit" class="menu">
        <ul class="menu-options">
          <li id="crop" class="menu-option">Crop Image</li>
          <li id="edit" class="menu-option">Edit Image</li>
          <li id="add" class="menu-option">Add Image</li>
          <li id="delete" class="menu-option">Delete Image</li>
          <li id="background" class="menu-option">Add Background</li>
          <li id="reset" class="menu-option">Reset</li>
        </ul>
      </div>
      <div id="menu-template" class="menu">
        <ul class="menu-options">
          <li id="background" class="menu-option">Add Background</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <image-upload [imageSvc]="imageSvc"></image-upload>
        <div *ngIf="setting.mode != 'wall'">
          <hr class="mt-2 mb-2">
          <control-panel [showCollageButtons]="true" (actionEvent)="onControlActionEvent($event)"></control-panel>
        </div>
        <hr class="mt-2 mb-2">
        <image-list *ngIf="imageSvc!=null" title="User Images" [images]="imageSvc.thumbImages"></image-list>
        <div *ngIf="setting.mode == 'wall'">
          <hr class="mt-2 mb-2">
          <image-list *ngIf="wallImageSvc!=null" title="Background Images" [images]="wallImageSvc.thumbImages"></image-list>
        </div>
      </div>
      <div class="col-md-10">
        <div class="grey-box">
          <div class="row">
            <div *ngIf="setting.mode != 'wall'" class="col-12">
              <div class="btn-print-menu">
                <button class="btn btn-sm btn-block btn-primary" (click)="showCollages()">Your Collages</button>
              </div>
              <div class="btn-print-menu">
                <button class="btn btn-sm btn-block btn-primary" (click)="saveCollage()">Save Collage</button>
              </div>
              <div *ngIf="!isMobile">
                <div class="btn-print-menu">
                  <button class="btn btn-sm btn-block btn-primary" (click)="printCollage(0)">Canvas Print - Single Frame</button>
                </div>
                <div class="btn-print-menu">
                  <button class="btn btn-sm btn-block btn-primary" (click)="printCollage(1)">Poster Print - With Sticker</button>
                </div>
                <div class="btn-print-menu">
                  <button class="btn btn-sm btn-block btn-primary" (click)="printCollage(2)">Poster Print - Without Sticker</button>
                </div>
              </div>
              <div *ngIf="isMobile" ngbDropdown class="btn-print-menu">
                <button class="btn btn-sm btn-block btn-primary" id="dropdownBasic1"
                  ngbDropdownToggle>Print Collage</button>
                <div ngbDropdownMenu aria-labelledby="drop_down_menu">
                  <button ngbDropdownItem (click)="printCollage(0)">Canvas Print - Single Frame</button>
                  <button ngbDropdownItem (click)="printCollage(1)">Poster Print - With Sticker</button>
                  <button ngbDropdownItem (click)="printCollage(2)">Poster Print - Without Sticker</button>                  
                </div>
              </div>
            </div>
            <div *ngIf="setting.mode == 'wall'" class="col-12">
              <div class="btn-print-menu">
                <button class="btn btn-sm btn-block btn-primary" (click)="showCollages()">Load Earlier Wall Display</button>
              </div>
              <div class="btn-print-menu">
                <button class="btn btn-sm btn-block btn-primary" (click)="saveCollage()">Save Wall Display</button>
              </div>
              <div class="btn-print-menu-lg">
                <button class="btn btn-sm btn-block btn-primary" (click)="printCollage(0)">Add to Cart for Gallery Wrap Canvas</button>
              </div>
            </div>
            <a id="print-button" hidden href="#" target="_blank"></a>
            <div class="card-body">
              <div id="canvas-container" (dragover)="false" (dragend)="false" (drop)="handleDrop($event)">
                <!-- <canvas id="main-canvas" style="width:36in; height: 36in;"></canvas> -->
              </div>
              <div id="virtual-canvas-container">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="loading">
        <div class="col-md-12 spinner-container">
          <mat-spinner class="vertical-center" [diameter]="50"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>