.prices {
    padding-top: 18px;
    font-size: 20px;
    line-height: 20px;
}

.price-discount {
    color: #a7a7a7;
    text-decoration: line-through;
    padding-right: 8px;
}

.wall-title > h4 {
    font-size: 14px;
}

bdi {
    unicode-bidi: -webkit-isolate;
}

.discount-label {
    margin-left: -32px;
    padding: 6px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #bd0505;
    color: white;
}

.mat-card-image{
    min-height: 410px;
}

.wall-title {
    min-height: 34px;
}

@media screen and (max-width: 800px) {
    .mat-card-image{
        min-height: inherit;
    }
}