<div class="collage-content">
  <div class="container-fluid">
    <div class="row p-3 m-3">
      <div class="col-12 col-md-2 col-sm-6">
        <button mat-raised-button class="btn btn-sm btn-block btn-primary" (click)="createTemplate()">Create Template</button>
      </div>
    </div>
    <div class="row text-center text-lg-left p-3 m-0">
      <div *ngFor="let image of images" class="col-lg-3 col-md-3 col-sm-12" id="preview-images">
        <img class="img-fluid img-thumbnail preview-image" width="100%" src="{{image.src}}" alt="">
        <div class="preview-middle">
          <div class="example-button-container">
            <!-- <button mat-raised-button class="btn btn-sm btn-block btn-warning m-2" (click)="editTemplate(image)">Edit</button> -->
            <button mat-raised-button class="btn btn-sm btn-block btn-danger m-2" (click)="deletePhoto(image)">Delete</button>
          </div>
        </div>
      </div>
      <div *ngIf="previewLoading" class="col-lg-3 col-md-3 col-sm-12">
        <mat-spinner class="vertical-center" [diameter]="30"></mat-spinner>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <div class="col-md-12 spinner-container">
        <mat-spinner class="vertical-center" [diameter]="60"></mat-spinner>
      </div>
    </div>
  </div>
</div>


