.container{
  padding: 10px;
  text-align: center;
}
.preview{
  border: 10px;
}

.part {
    position: relative;
    width:200px;
    height:200px;
    border: 1px solid #aaa;
  } 
//   .part img {
//     width:165px;
//   }
  .top-row {
    display:flex;
    justify-content: space-around;
  }

  .middle-row {
    display:flex;
    justify-content: center;
  }
  .bottom-row {
    display:flex;
    justify-content: space-around;
    border-top: none;
  }

  .top {
    border-bottom: none;
    height: 20px;
  }
  .left {
    border-right: none;
    width: 20px;
  }
  .right {
    border-left: none;
    width:20px;
  }

  .bottom {
    border-top: none;
    height: 20px;
  }

  .center .prev-selector, .center .next-selector {
    opacity:0.8;
  }
  
  .shadow{
    box-shadow: 0px 1px 3px 0px #00000085;
  }

  .footer{
    position: relative;
    bottom: 0;
  }